<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lauraeyal.taskmanager" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tm"
        android:label="Task Manager"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="0ETJ4G37sIxKJQsJRdU8dVitjccc0EJ4q9WG0dmL" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="fCD5m26rXryOjbRvwTajeqVU8ErkbbFXywxeog3V" />
        <activity
            android:name=".activities.SplashScreen"
            android:label="Task Manager"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" android:label="Login"/>
        <activity android:name=".activities.UsersActivity" android:label="Team Members"/>
        <activity android:name=".activities.PhoneContactsActivity" android:label="Add Member"/>
        <activity android:name=".activities.TasksActivity" android:label="Team Tasks"/>
        <activity android:name=".activities.addtaskActivity" android:label="Add Task" />
        <activity android:name=".activities.AddTeamActivity" android:label="Add Team" />
        <activity android:name=".activities.SettingsActivity" android:label="Settings" />
        <activity android:name=".activities.AboutActivity" android:label="About" />
        <service android:name=".bl.TimeService"/>
        <receiver
             android:name=".NotificationBroadCastReceiver"
             android:exported="false" >
             <intent-filter>
                 <action android:name="com.lauraeyal.taskmanager.ALARM" >
                 </action>
             </intent-filter>
         </receiver>
    </application>



</manifest>
