<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lauraeyal.taskmanager" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.lauraeyal.taskmanager.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.lauraeyal.taskmanager.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Task Manager"
        android:supportsRtl="true"
        android:name=".AnalyticsApplication"
        android:theme="@style/MyMaterialTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="0ETJ4G37sIxKJQsJRdU8dVitjccc0EJ4q9WG0dmL" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="fCD5m26rXryOjbRvwTajeqVU8ErkbbFXywxeog3V" />
        <activity
            android:name=".activities.SplashScreen"
            android:label="Task Manager"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" android:label="Login"/>
        <activity android:name=".activities.UsersActivity" android:label="Team Members"/>
        <activity android:name=".activities.PhoneContactsActivity" android:label="Add Member"/>
        <activity android:name=".activities.TasksActivity" android:label="Team Tasks"/>
        <activity android:name=".activities.addtaskActivity" android:label="Add Task" />
        <activity android:name=".activities.AddTeamActivity" android:label="Add Team" />
        <activity android:name=".activities.SettingsActivity" android:label="Settings" />
        <activity android:name=".activities.AboutActivity" android:label="About" />
        <service android:name=".bl.TimeService"/>
        <receiver
            android:name="com.lauraeyal.taskmanager.pushNotification.App42GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.lauraeyal.taskmanager" />
            </intent-filter>
        </receiver>
        <service android:name="com.lauraeyal.taskmanager.pushNotification.App42GCMService" >
        </service>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="onMessageOpen"
            android:value="com.lauraeyal.taskmanager.activities.LoginActivity" />
    </application>



</manifest>
